/* Navigation Bar Styles */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 50px;
}

nav ul li {
  justify-content: right;
  margin-bottom: 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #3e9806f9;
}

/* Header Styles - Updated */
header {
  background: #0018229d;
  color: #fff;
  padding: 5px 0;
  border-bottom: #bbb 1px solid;
  border-radius: 10px;
  margin-top: 10px;
}

header h1 {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(254, 251, 251);
  font-size: 40px;
}

header p {
  margin-left: 15px;
  margin-top: -30px;
}

/* Section Styles - Updated for Anchors */
section {
  padding: 40px 20px;
  background: #0018229d;
  margin: 20px 0;
  color: white;
  border-radius: 10px;
}

section h2 {
  margin-top: 0;
}

#about,
p {
  text-align: justify;
}

/* Footer Styles - Updated */
footer {
  background: #0018229d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 10px;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

footer ul li a {
  color: white;
}

footer p {
  text-align: center;
}

@media screen and (min-width: 480px) {
  body {
    background-color: rgb(1, 16, 1);
  }

  nav ul li {
    justify-content: left;
    margin-bottom: 5px;
  }
  header h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }
}
