.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: #4c6b6f49;
  border: 1px solid #c7b5b5;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 10px 0;
}

.project-card p {
  color: #666666;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background: #350101;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

.project-card a:hover {
  background: #105d02;
}
